[2016-07-17 21:11] jusefb opened #1 "Get opt.model.name undefined"
Hi,

I have tried to use the library but unfortunately I am getting an error at the step when the revision gets built. It seem that opt.model.name property is undefined in my case. Is there a specific format in which the model has to be constructed for this to work? Here is the portion of code that throws the error [TypeError: Cannot read property 'name' of undefined] in lib.js line 272

      //

[2016-07-17 22:20] nielsgl commented on #1
Hi @jusefb thanks for the feedback. Did you enable the paper trail for that model? For example, if you have a user model, it should be enabled like this:
[code]

[2016-07-19 22:58] jusefb commented on #1
Apologies for a late response. Yes I have enabled paper trail for the model in question. I was trying to understand where the opt.model.name is set but could not find it.

[2016-07-20 03:55] nielsgl commented on #1
When the before and after hooks are added, sequelize automatically sets the right values for `instance` and `opt` when the hooks are triggered, so it happens internally.
See http://docs.sequelizejs.com/en/latest/docs/hooks/#sequelizeaddhook-permanent-hook
Can you set debug to true in the options and share the debug statements here, that should tell some more about the object and the model options.

[2016-07-22 22:42] jusefb commented on #1
Here is the debug output:

afterHook called
instance: { dataValues:
   { revision: 1,
     id: 15,
     hospitalisation_id: 7,
     treatment_type_id: 1,
     operation_mode_id: 1,
     oxygen_flow: 1,
     start_date: null,
     end_date: null,
     stop_date: null,
     updated_at: Fri Jul 22 2016 23:40:47 GMT+0100 (BST),
     created_at: Fri Jul 22 2016 23:40:47 GMT+0100 (BST),
     title: null

[2016-07-24 20:40] jusefb commented on #1
In my application I load the models automatically from the model directory (this was based on a sequelize example)

  fs
      .readdirSync(__dirname)
      .filter(function (file) {
        return (file.indexOf('.') !== 0) && (file !== basename) && (file.slice(-3) === '.js');
      })
      .forEach(function (file) {
        var model = sequelize['import'](path.join(__dirname, file));

        db

[2016-07-24 20:48] nielsgl commented on #1
If you want a really quick (and a dirty) fix for it you can do this:
In lib.js, on line 272 where the error is thrown, replace `opt.model.name` with:
[code]
that should resolve it in your case I think while I look into a better solution today. Let me know if that works!

[2016-08-01 00:54] jusefb opened #2 "User id not populating in revisions"
I have a 'User' model in my app and have the user obj passed in all the server side requests however I don't see how to populate the value of who has performed the modification in the Revision. There does not seem to be a field for it. I could not find anything in the documentation either apart from the option for specifying the user model.

[2016-08-22 03:15] blocka opened #3 "No revision table"
There is no revision table being created, nor do I see in the code that any such table should be created (even with the migration option set to true).

Did I miss something?

[2016-08-31 14:16] mhaamann opened #4 "Merging repoes?"
Hi @nielsgl

Are you interested in merging repoes? I just forked your package the other day and updated the code quite a lot. I'm not sure if I am working in the same direction as you wanted to.

New features I added:
* Full continuation-local-storage support (solves #2)
* MySQL support (Postgres is also still supported)
* Option to disable the change model since it can generate a lot of unneeded

[2016-09-01 03:16] nielsgl commented on #4
Hey @mhaamann

Sounds great! I started this project because there wasn't anything out there that was actively maintained. Last few weeks I was a bit busy with work and I actually started last weekend on solving the open issues, but feel free to send me a pull request and I'd be happy to merge it in!

Let's make it awesome :)

[2016-09-02 16:12] mhaamann commented on #4
Great! Maybe we should agree on which direction we want to go. Maybe a todo list?

Created a PR. There is a lot of changes. I am open for changes. I didn't have any guidelines to follow so I just tried to keep the same style while keeping the changes to the documentation at a minimum.

[2016-09-03 06:38] mhaamann opened #6 "Discussion, previousVersion or currentVersion?"
Right now the module saves the **currentVersion** in the document attribute of RevisionModel.

Why not save the **previousVersion** instead?

Consider the following code example:

[code]

The RevisionModel now contains ('currentVersions') in the document colum:
{id: 4, firstName: 'Jonn', lastName: 'Dot', revision: 1} // Initial Create
{id: 4, firstName: 'JonA', lastName: 'Doe', revision: 2} // Upd

[2016-09-03 06:57] mhaamann commented on #6
The down side is that you loose track on who did the change and without the RevisionChangeModel you cannot see what was updated. This is also bad :(

What if we introduce a new coloum 'snapshot' where the previousVersion is stored. The 'currentVersion' will still be stored in document.
We could furthermore improve paper-trail by loading the full object from db automatically for the snapshot instea

[2016-09-05 05:26] nielsgl commented on #6
Yeah there are arguments to do it either way. The downside of storing {} as initial state is that it doesn't add much value because when a model is created we would immediately need to add 2 rows in the Revisions table, one with {} and one with the model as it is when it is created.
Currently, the Revisions table already contains the full model at each step in the document column, so when I create

[2016-09-29 00:59] #2 closed

[2016-09-29 01:02] nielsgl commented on #3
Closed, solved in latest version.

[2016-09-29 01:02] #3 closed

[2016-09-29 01:02] nielsgl commented on #4
Merged :)

[2016-09-29 01:02] #4 closed

[2016-09-29 01:03] nielsgl commented on #1
Will close this for now, please reopen it if it is still an issue.

[2016-09-29 01:03] #1 closed

[2016-11-02 21:30] JKHeadley opened #8 "Error: CLS namespace required"
When I require squelize-paper-trail I'm receiving this error.  Any ideas?

[2017-01-24 14:00] int3rnet commented on #8
same my issue , any update ??

CLS namespace required

[2017-01-24 14:06] nielsgl commented on #8
I'm going to have a look at it as soon as I can this week.

[2017-02-04 16:54] nielsgl commented on #8
@int3rnet @gauravarora @sivailangos it should be fixed with the latest release

[2017-02-04 16:54] #8 closed

[2017-02-04 17:50] sivailangos commented on #8
Thanks a lot @nielsgl

[2017-02-06 10:19] sivailango opened #9 "Revision and RevisionChanges tables are not updating"
index.js

[code]

User.js:

[code]

I could see Revision and RevisionChanges tables are created, but when I have updated the value on User model, I could not any see records on these tables, revision column of `user` model has created with value 1 and after that it never get increased. I could not find whats the problem, Am I missing anything? Also just I looked the  `index.js` at `node_modules` f

[2017-02-06 18:19] nielsgl commented on #9
Hmm, sorry about that, I thought that it was resolved :( I'm going to create a demo app so I can see where it is going wrong to resolve the issue.

[2017-02-17 07:11] piyushsutariya opened #10 "Getting syntax error from MySQL"
I have followed all step which are mention for installing and using in model. when I started my server, I got following error.
_Unhandled rejection SequelizeBaseError: ER_PARSE_ERROR: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'JSON NOT NULL, `documentId` INTEGER NOT NULL, `revision` INTEGER NOT NULL, `crea'

[2017-02-17 09:45] piyushsutariya commented on #10
opened this issue 3 hours ago

[2017-02-18 06:33] rakeshpudipeddi opened #11 "throw error `false has not been defined` when starting the app"
i have started the app following the readme
`throw new Error(modelName + ' has not been defined');` is returned when starting the app
here's the `error trace`:
Error: false has not been defined
    at Sequelize.model (/..../node_modules/sequelize/lib/sequelize.js:649:11)
    at associate (/home/..../node_modules/sequelize-paper-trail/lib/index.js:360:42)
    at /..../models/index.js:45:19
    at A

[2017-02-25 21:08] randallmeeker opened #12 "TypeError: Cannot read property 'current_user_request' of undefined"
Seeing this error when attempting to use this.

The problem is probably with my setup as I'm using migrations and I'm not sure if I have my tables setup correctly.

I used the migration file found in the repo and also added a `revision: integer` column to the table I want to use paper trail on.

full error
[code]

[2017-02-26 23:37] randallmeeker commented on #12
after some deeper digging I found the issue.

[2017-02-26 23:37] #12 closed

[2017-02-27 14:40] nielsgl commented on #12
Is it a problem with the library? If you want to submit a PR I'd be happy to look at it.

[2017-03-14 11:54] stephenbeauchamp commented on #10
I'm having the same issue, mysql trace shows, revisionId and RevisionId columns in the RevisionChange table:

`Query	CREATE TABLE IF NOT EXISTS `RevisionChange` (`id` INTEGER NOT NULL auto_increment , `path` TEXT NOT NULL, `document` JSON NOT NULL, `diff` JSON NOT NULL, `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL, `revisionId` INTEGER, `RevisionId` INTEGER, PRIMARY KEY (`id`), FOR

[2017-03-15 10:00] stephenbeauchamp commented on #10
The conflicting columns are created by the following lines of code in /lib/index.js

`      // Set associations
      Revision.hasMany(RevisionChange, { // EDIT: Creates revisionId Column
        foreignKey: options.defaultAttributes.revisionId,
        constraints: false
      });

      RevisionChange.belongsTo(Revision); // EDIT: Creates RevisionId Column
`
This is resolved by changing  the las

[2017-03-15 22:51] patrickdbakke opened #13 "npm install gives version 1.2.6, with a missing (wrong?) git hash."
Npm install is currently replying with this tarball:
https://registry.npmjs.org/sequelize-paper-trail/-/sequelize-paper-trail-1.2.6.tgz

This tarball is behind (ahead of?) latest.

# Steps to reproduce:
1. Run `npm view sequelize-paper-trail`
2. See that 1.2.6 is the latest published package. This version is tied to some unknown commit hash `13aeff4c02fe9de0586b76d0dbfda0638ce47bb6`. I cannot trac

[2017-05-26 00:31] mmahalwy opened #14 "Not compatible with node version 6+"

[2017-07-11 16:15] eric-radiant opened #15 "Revision table not getting created."
I installed sequelize-paper-trail and used the docs to set it up in my project and attach to a model.  With debug: true as my only option it appears to start up fine and track changes I'm making to the model through sequelize, however the Revision and RevisionChanges tables are not getting created so it fails to actually track.   sequelize-paper-trail@1.2.6

[2017-07-11 17:01] eric-radiant commented on #1
I had/have the same issue, using the same example sequelize code to load in different model files.

[2017-07-11 17:02] eric-radiant commented on #1
seems like it would be easy enough for the official code to check if instance['$modelOptions'].name.singular or opt.model.name is what is available.

[2017-07-11 17:19] eric-radiant commented on #12
@randallmeeker what was the issue, I am seeing the same thing.

[2017-07-11 18:21] eric-radiant commented on #15
I could do a sequelize.sync to force the creation.

For others, also note the table(s) change between revisions so you may need to blow away the table(s) and rerun if you switch versions.

[2017-07-11 18:21] #15 closed

[2017-07-11 18:45] eric-radiant opened #16 "Can't get which user made the changes"
I see the changes show up in revisions table, but can not get the user that made the changes.  Any thoughts on what to do?

[2017-07-12 12:58] randallmeeker commented on #12
@eric-radiant my auditing requirements required more customization that this library would allow so I have since removed it. I can assure my issue was human in nature and not a problem with this library which worked as advertised.

[2017-07-12 14:23] eric-radiant commented on #12
@randallmeeker did you go custom with your solution or use a different audit trail package?  Also do you remember what your human in nature issue was as I suspect I'm having the same/similar human issue.

[2017-07-12 14:43] randallmeeker commented on #12
I wrote my own solution, and unfortunately, my error was never committed to git so I have no reference to what it actually was. I did use this library in my initial states for audit purposes before writing my own.

[2017-08-01 17:11] eric-radiant opened #17 "Is this project dead?"

[2017-08-01 18:08] nielsgl commented on #17
No, just haven't had time to resolved the issues, feel free to send a PR and I'd be happy to merge it 👍

[2017-08-01 21:11] eric-radiant commented on #17
Glad to hear it isn't dead, sadly I haven't the time to track down issues either.  Was trying to evaluate if it would be useful for us.  Probably not until bugs are fixed and I can get which internal user was responsible for a revision.  Thanks for responding though, it looks like a slick project when it works.

[2017-10-29 09:38] lijoantony commented on #17
It does work! I am using it in my (internal) projects.
Documentation is not sufficient though.
User Tracking has been added to the README now.
@nielsgl This issue may be closed.

[2017-10-29 11:24] nielsgl commented on #17
Resolved with updated instructions in the README of version 1.3.3.  @eric-radiant if you're still having problems please create a new ticket.

[2017-10-29 11:24] #17 closed

[2017-10-29 11:24] nielsgl commented on #16
Resolved with updated instructions in the README of version 1.3.3.  @eric-radiant if you're still having problems please create a new ticket.

[2017-10-29 11:24] #16 closed

[2017-10-29 11:25] nielsgl commented on #14
Fixed in the latest version, please create a new ticket if you still have this problem.

[2017-10-29 11:25] #14 closed

[2017-10-29 11:26] nielsgl commented on #13
Resolved with version 1.3.3 which is both on GitHub and NPM.
@patrickdbakke  if you're still having problems please create a new ticket.

[2017-10-29 11:26] #13 closed

[2017-10-29 11:26] nielsgl commented on #11
Please create a new issue if this is still a problem.

[2017-10-29 11:26] #11 closed

[2017-10-29 11:27] nielsgl commented on #10
Is this still an issue? PRs are always welcome, closing for now, please reopen if the issue remains.

[2017-10-29 11:27] #9 closed

[2017-11-17 15:55] Rory-Gaddin opened #26 "Discussion: Strategies for handling null deltas when updating an existing record"
I was doing some testing on an API recently with Paper Trail enabled, and found that submitting the same PATCH request multiple times increments the revision number and updatedAt fields on the record on the entity table, but does not create additional entries in the Revisions table.

This feels somewhat inconsistent to me, and I was thinking perhaps it would be good to have an option that allows u

[2017-11-21 09:58] nielsgl commented on #26
Interesting point, had not thought about this as much as you (I have been using PATCH but had not realized the effect). It definitely makes sense and is a good idea to correct this behavior to be consistent across the hooks and I also agree that this makes it easier to understand and it simplifies the behavior and expectations.

PRs are definitely welcome and I'd be happy to have a look at a PR an

[2017-12-11 23:35] rorofino opened #27 "enableCompression breaks first insert on hasPaperTrail models"
Hi,

I think i may have found a bug.
On the line 224 of index.js:

if (!instance._previousDataValues[a].dataValues && !instance.dataValues[a].dataValues)

this code runs even on the first insert on the table when compression is enable, resulting in the error:

TypeError: Cannot read property 'dataValues' of undefined

I think we r missing a simple  check of instance._previousDataValues.

[2017-12-11 23:50] rorofino commented on #27
Adding the Log running with options.debug = true.

[code]

[2017-12-14 21:59] kyledmoore opened #28 "'document_id cannot be null' validation error occurs when using underscoredAttributes"
This appears to be caused by the following code in `lib/index.js`:

[code]

Note the hardcoded `documentId` property in the object passed to `build`, which should be `document_id` when `underscoredAttributes` is `true`.

[2018-02-16 13:34] sany-v2 opened #32 "hasPaperTrail is not a function - sequelize ^3.30.4"
I am getting the above error on trying the sample code .
I believe the error is because the way we initialize sequelize models is different .
Following is my code (relevant part)

[code]

Could you suggest some solution please.
Thanks.

[2018-02-16 21:08] sany-v2 commented on #32
Please ignore 'mean.js' in the title.

[2018-02-19 06:31] sany-v2 commented on #32
Hi,
I tested it with sequelize 4 , and it works. Is there a way to get this working with 3.30 ?

[2018-05-07 17:08] kyle-copeland opened #34 "User Table Required? modelName + ' has not been defined'"
In [lines 394-396](https://github.com/nielsgl/sequelize-paper-trail/blob/master/lib/index.js#L394-L396) a relation is defined between the Revision table and the User table.

Is the user table a required table?

Later on in the code ([lines 443-445](https://github.com/nielsgl/sequelize-paper-trail/blob/master/lib/index.js#L443-L445)): the same relation is set but there is a check to see if the user

[2018-05-09 19:25] ketus opened #35 "notNull Violation: Revision.documentId cannot be null"
hi,

First off: great project! Really appreciated.

I'm having a bit of a trouble to get it working, though.
When I update trailed model, sequelize returns:
[code]
I've left options as defaults. My update query runs as expected.
What exactly is purpose of `document` / `documentId` fields?
Should I include `documentId` in query somewhere?

[2018-07-04 09:33] v2sandeep opened #36 "hasPaperTrail is not a function - sequelize ^3.30.4"
**Below code is working fine with sequelize 4 and mysql 2 but not with 3.30.4**

var sequelize = new Sequelize(config);
 var db = {};
  forEach(function (modelPath) {
    var model = sequelize.import(path.resolve(modelPath));
    db[model.name] = model;
  }
 Object.keys(db).forEach(function (modelName) {
  if (db[modelName].options.hasOwnProperty('associate')) {
    db[modelName].options.associate

[2018-08-16 11:06] bogdan-r commented on #34
I have the same problem. Any idea?

[2018-09-07 19:53] antoniovassell commented on #36
Base on the package.json file, sequelize 4 and above is required

[2018-10-08 01:45] praneeththota opened #39 "how tables are getting created"
Can you please explain how tables are  getting created ?
For example, if I have a user model then how can I track for user table ?

[2018-10-08 18:32] #39 closed

[2018-12-27 01:17] ksfreitas commented on #10
This bug exists. I found the cause: MySQL   Windows is case insensitive by default. In source code, in the `RevisionChange` relation with `Revision` model, the foreign field name is defined automatticly in line 436:

`        RevisionChange.belongsTo(Revision);`

The fix should be done with care to not broke existing implementation. @nielsgl can you reopen this ticket?

[2018-12-27 01:37] ksfreitas opened #40 "Not possible change defaultAttributes"
Changing `defaultAttributes` has no effect. This code override the user (line 77):

[code]

[2018-12-27 10:02] nielsgl commented on #10
@ksfreitas thanks for your comment. I plan to review the open PRs in the coming days, feel free to open one to resolve this issue.

[2018-12-28 11:48] nielsgl commented on #32
Unfortunately not that I know

[2018-12-28 11:48] #32 closed

[2018-12-28 11:51] #27 closed

[2018-12-28 11:53] nielsgl commented on #27
Hi @rorofino finally fixed this, thanks https://github.com/nielsgl/sequelize-paper-trail/releases/tag/2.1.0

[2018-12-28 11:55] nielsgl commented on #28
Please submit a PR and I will get it fixed 👍

[2018-12-28 11:55] #28 closed

[2019-01-03 03:32] ksfreitas opened #42 "User tracking by options stoped to work"
In new version, the user tracking by options stopped of work.

[2019-01-03 03:43] ksfreitas commented on #42
Only work if the option `continuationKey`is explicity defined in initialization:

[code]

[2019-01-03 04:09] ksfreitas opened #43 "Field 'model' doesn't have a default value in version 2.1.0"
After update to version 2.1.0, cannot register any revision:

[code]

Observe that some fields are not in SQL, like `model`,  `documentId`,  `document` and `userId`.

I located the problem in line 321 in `opt` param passed in `save` call.

If the opt is removed like in the old version, the function back work (I don't know why yet).

Origin commit https://github.com/nielsgl/sequelize-paper-trail/co

[2019-01-03 04:15] ksfreitas commented on #43
If only transaction is passed in a new opt object, works... The cause is unknown, but this keep paper-trail transactional and fix my problem...

Any ideas?

[2019-01-03 04:49] ksfreitas commented on #43
I found the error, the code is really wrong: the opt received were from the entity context (where all is origined), causing a mess inside the sequelize, at least in version 4.42.0. Look in the image bellow, the fields are being reload with entity fields (overiding the Revision fields)...

![anotacao 2019-01-03 024150](https://user-images.githubusercontent.com/1704500/50623863-37f99c00-0f01-11e9-9a

[2019-01-03 09:35] nielsgl commented on #43
Ah 🤦‍♂️ I tested it with a quite old version of sequelize in which it did work, thanks a lot for investigating and resolving it @ksfreitas 🍺

[2019-01-03 09:35] #43 closed

[2019-01-03 23:36] ksfreitas commented on #35
@ketus update the libraries (and sequelize) and check if this error persists.

* `document` store all entity data in JSON format, in revision number
* `documentId` is the primary key of the changed entity, utilized with `model` field to track the changes.

[2019-01-10 22:19] createthis opened #47 "underscoredAttributes doesn't work"
[code]

You're hard coding the attribute here as `documentId`, I think: https://github.com/nielsgl/sequelize-paper-trail/blob/34d0ef3306d3c24656ca45a7852ce62f05d5ead2/lib/index.js#L313

[2019-01-10 22:30] createthis commented on #47
see PR. seems to work on my end.

[2019-01-11 17:17] createthis opened #50 "Restore feature?"
Does `sequelize-paper-trail` have a restore API yet? I see the intent in the tag line, but I don't see a documented feature in the README or code. Maybe I'm missing it. Maybe it hasn't been implemented yet. Thanks.

[2019-01-15 03:03] ksfreitas opened #51 "Document is not saving as JSON in MySQL 5.7"
In last version of sequelize, the document is saved as string. Because this, it's not possible do json query.

[2019-01-15 04:33] ksfreitas opened #54 "Add a way to track removed records"
If a object is destroyed, it's not possible to know when and who did this, assuming `paranoid` mode is off in sequelize.

[2019-01-16 10:22] nielsgl commented on #50
@createthis I had the plan to implement it but haven't gotten around to it. I'd be happy to merge it if you can implement it!

[2019-01-16 10:23] nielsgl commented on #54
Merged and released 🎉

[2019-01-16 10:23] #54 closed

[2019-01-16 10:24] nielsgl commented on #51
Can you confirm if this has been resolved with the latest release?

[2019-01-16 12:46] createthis commented on #47
This is closed, but it's been reverted? What happened?

[2019-01-16 12:50] nielsgl commented on #47
I'll add it back in but with another pull request it requires some changes to the code. If you can update it I'll be happy to merge it as soon as I can :)

[2019-01-16 13:15] createthis commented on #54
need to update the migration example:

[code]

[2019-01-16 13:52] createthis commented on #47
@nielsgl updated. Have a look.

[2019-01-16 13:53] createthis commented on #54
@nielsgl I've updated the migration example in #57

[2019-01-16 13:55] nielsgl commented on #47
Merged it. I'll close it for now 👍

[2019-01-16 13:55] #47 closed

[2019-01-16 17:07] ksfreitas commented on #51
Problem solved! Thanks =)

[2019-01-16 17:07] #51 closed

[2019-01-23 03:13] mjy78 opened #60 "Ignore or Include specific fields for a model"
Is it possible to specify a list of field names to be ignored or included (only those specified) when enabling paper trail for a model?

[2019-01-23 10:51] nielsgl commented on #60
Hi @mjy78
Right now there isn't functionality to specify it on a model level, only option would be to add them to the global ignored list.

[2019-01-31 20:11] Lemmmy opened #61 "Support for upserts?"
Currently, it does not look like sequelize-paper-trail supports revisions for upserts (and possibly bulkCreate too?). Would it be possible/feasible to support this, or should I manually do findOne + insert/update? I'm using MySQL.

[2019-01-31 22:50] ksfreitas commented on #61
Paper trail uses sequelize hooks. This is possible setting `{ individualHooks: true }` at bulk operation.

http://docs.sequelizejs.com/manual/tutorial/hooks.html

[2019-02-01 00:44] Lemmmy commented on #61
From what I can see, sequelize-paper-trail does not use the `before/afterUpsert` hooks:

https://github.com/nielsgl/sequelize-paper-trail/blob/master/lib/index.js#L199-L204

[2019-02-03 18:16] ekeuus opened #62 "Requesting changes for a specific query"
Is there a way to request all changes for a specific parameter or can I add additional columns to identify stuff by? I might want to add a group or project id or so.

I was unable to find it out by reading the docs. Thanks!

I went ahead and implemented a version in #63

[2019-02-10 14:00] ekeuus opened #64 "db.transaction breaks paper trail context"
return db.transaction(function (transaction) {
		return article.save(); // also fails if a transaction is provided in options
	});

When I save something outside transaction, it works perfectly. As soon as I have multiple saves or have saves in a transaction context, the whole paper trail context is gone.

I tried with Sequelize CLS and without. Neither version worked.

Am I doing something incorr

[2019-02-11 12:17] nielsgl opened #65 "Updating (dev) dependencies and tests."
The (dev)dependencies are very outdated and tests don't cover a lot of the recent added functionality. If anyone is interested in helping out please let me know 🏆

[2019-02-11 19:10] ekeuus commented on #64
I am loading the models dynamically and had 2 instances of Sequelize. Did not useCLS on one of them - everything works if both have CLS.

[2019-02-11 19:10] #64 closed

[2019-02-12 19:43] matyaspeto opened #66 "hasPaperTrail is not a function - sequelize ^5.0.0-beta.13"
Hi,

in this version of Sequelize, apparently the `_.extend(sequelize.Model)` has no effect.
I tried to fix it in several way without any success :(

[2019-02-14 09:25] RsHalit commented on #35
I resolve that issue with putting  `revision.documentId = revision.document._id` in function createAfterHook, before save.

[2019-02-18 21:50] JosielFaleiros opened #67 "Paper Trail not tracking Sequelize.DATE type column"
Hi, I have followed the install instructions, and got this awesome lib working on my project, :100:
but, when I was looking in the revisions table for the data been stored for changes in date columns, I was not able to find any date change tracked by this lib =/ .
Expected behavior: Given a Sequelize model defined with a date column, when some date value of an instance of this model is updated and

[2019-02-19 13:37] ksfreitas commented on #65
I will take a look, but may I take a some time to do this...
work :(

[2019-02-21 21:49] rmeloni opened #69 "Hook beforeUpdate isn't call"
The hook beforeUpdate isn't call when Model.update({....}).

[2019-02-21 23:11] Lemmmy commented on #61
One problem with using `{ individualHooks: true }` is when creating a _lot_ of records in bulk (like you're supposed to). `sequelize-paper-trail` will try to insert tens of thousands of `create` revisions one-by-one, which can lead to a large number of inserts failing/timing out due to pool inavailability, etc.

[code]

[2019-02-22 00:05] rmeloni commented on #69
I was use a update from Model (beforeBulkUpdate) and not from object.

[2019-02-22 00:05] #69 closed

[2019-02-22 00:07] rmeloni opened #70 "UserId"
I added a userModel, and userId opt at update/create (show at debug) but not insert userId at Revisions.

The Revisions table has a userdbid column.

var opts = {
  //underscored: true,
  //underscoredAttributes: true,
  //enableCompression: false,
  //enableMigration: true,
  **userModel: 'userdb'**
  ,debug: true
};

afterHook called
instance: roledb {
  dataValues:
   { ............ },
  _previ

[2019-02-26 18:34] madlemur commented on #65
Just submitted a pull request that, among other things, updates the dependencies and adds some functional tests...  :)

[2019-02-27 12:55] nielsgl commented on #65
Awesome @madlemur I'll set some time apart tomorrow to take my time and review it 💥

[2019-03-02 12:07] nielsgl commented on #65
Thanks @madlemur merged it and released as 2.5.0 🏆

[2019-03-02 12:18] lmorningstar116 commented on #70
Faced the same problem.

Pass the userModel to options. add userId opt at update.

But the query is executed without userId.

`INSERT INTO "Revisions" ("id","model","document","operation","documentId","revision","createdAt","updatedAt") VALUES (DEFAULT,'OrganizationSettings','{"id":1,"use_fisca
l_printer":true,"fiscal_printer_service_type":"atol","use_scanner":false,"scanner_service_uri":"","revis

[2019-03-02 12:59] lmorningstar116 opened #73 "Crash after update to 2.5.0"
Crash after update to 2.5.0

`exports.init = function (sequelize: Sequelize, optionsArg: array): Model {
                                  ^
SyntaxError: Unexpected token :`

[2019-03-02 13:35] nielsgl commented on #73
Which node version are you using?

[2019-03-02 13:37] lmorningstar116 commented on #73
10.15.0

[2019-03-02 14:01] nielsgl commented on #73
Thanks, I can reproduce it. I'll work on a fix.

[2019-03-02 14:09] lmorningstar116 commented on #73
on node 11.10.1 crash too

[2019-03-02 14:12] nielsgl commented on #73
Yep, too much syntactic sugar, will add a build step to transpile it with babel

[2019-03-05 01:43] nwhitmont commented on #73
Ran into this same error today 3/4

Any updates @nielsgl ?

[2019-03-05 10:25] nielsgl commented on #73
@nwhitmont I started working on it this weekend (https://github.com/nielsgl/sequelize-paper-trail/tree/develop) but will take a bit longer than expected so I would use the previous version until then. Hopefully I can get a new version out this week.

[2019-03-05 20:07] nwhitmont commented on #73
@nielsgl would it be possible to "un-release" 2.5.0?

This bug will affect anyone who has `^2.4.2` in their `package.json` and the install of `2.5.0` might be accidental.  At least that's how it happened on my team... during a production deployment!

[2019-03-06 09:48] nielsgl commented on #73
Yep it's reverted and released as `2.5.2` on npm

[2019-03-09 14:38] nielsgl commented on #66
Thanks for the heads up :) I'll check it out soon and see what I need to change to make it work, first need to work out a few bugs with the current library.

[2019-03-14 13:39] #73 closed

[2019-03-14 13:39] #6 closed

[2019-03-14 13:39] #10 closed

[2019-03-14 13:45] #34 closed

[2019-03-14 13:47] nielsgl commented on #35
@RsHalit if it's still a problem with the latest version without that manual change please reopen the issue and I'll look into it.

[2019-03-14 13:47] #35 closed

[2019-03-14 13:50] nielsgl commented on #61
@Lemmmy @ksfreitas any ideas on how to implement it / whether it's worth to implement it?

[2019-03-14 13:51] nielsgl commented on #62
Thanks 👍 I'll review it this weekend.

[2019-03-14 13:59] nielsgl commented on #67
Hey @JosielFaleiros just released v2.6.0 that resolves this issue.

[2019-03-14 14:02] nielsgl commented on #70
@rmeloni @lmorningstar116 are you using the continuation local storage package?

[2019-03-14 14:12] rmeloni commented on #70
No...

The problem is that the Revision.build() use "userId" field and my table name is userdb and create a userdbid field at Revision table.

I changed userId: ns && ns.get(options.continuationKey) || opt['userId'], to userdbId: ns && ns.get(options.continuationKey) || opt['userId'], at query and works.

[2019-03-14 14:24] nielsgl commented on #70
Ah I get it, I think if I add a `userIdAttribute` that you can set to `userdbId` in your case and then I will use that in that line it should pick the right attribute 🤔

[2019-03-14 17:48] nielsgl commented on #70
@rmeloni can you try it by installing the package from this github commit:
[code]

[2019-03-14 17:53] rmeloni commented on #70
@nielsgl this github has a change for previous and current version.  Is it github?

[2019-03-14 17:57] nielsgl commented on #70
I'm not sure what you mean. You can find the code here: https://github.com/nielsgl/sequelize-paper-trail/blob/feature/refactoring/lib/index.js

[2019-03-14 18:11] rmeloni commented on #70
It´s works!

[2019-03-14 19:04] nielsgl commented on #70
Awesome, I'm finishing up that branch and will release it tomorrow as a next major release (v3). I'll drop a comment here when it's done so you can upgrade it and install it as a normal npm package.

[2019-03-15 10:12] nielsgl commented on #70
@rmeloni it's available in `sequelize-paper-trail@3.0.0-rc.3`

[2019-03-15 10:28] ekeuus commented on #62
I'm up for api changes if you have some ideas. I just wanted an extension like this and so far it has been satisfying.

The user id fk option could also be unified with other pr solutions

[2019-03-15 10:31] #67 closed

[2019-03-15 10:37] nielsgl commented on #62
I've been working on refactoring some of the code (just released as `3.0.0.rc-4` it's in this branch: https://github.com/nielsgl/sequelize-paper-trail/tree/feature/refactoring if you can update your PR it will be easier to review.

[2019-03-15 11:30] nielsgl commented on #62
@ekeuus I added some comments in your PR #63

[2019-03-16 14:56] #70 closed

[2019-03-16 15:45] nielsgl commented on #66
@matyaspeto ok I got it working in a test version, I'll create a branch for it later today and try to push a beta version by tomorrow.

[2019-04-10 20:11] jdgarvey commented on #66
@nielsgl I've been getting this error as well. I'm guessing that Sequelize v5 support wasn't included in 3.0.0-rc.6 (assuming this because of #74)?

[2019-04-11 16:23] rjw209 commented on #66
@nielsgl

Any updates when this branch might be available/ready? I've been tasked with migrating from Sequelize 4 to 5 because of https://github.com/sequelize/sequelize/issues/8468.

[2019-04-11 18:27] nielsgl commented on #66
@jdgarvey @rjw209
Sorry I was traveling a lot the past weeks, I plan on getting it updated this weekend. I'll release the library v3 with support for Sequelize v4 and then probably the library as v4 with support for Sequelize v5.

[2019-04-26 19:50] createthis commented on #66
I'm kind of confused. What does `sequelize-paper-trail` v3 add to make it `sequelize` v4 compatible? We've been using `sequelize-paper-trail` v2.4.2 with `sequelize` v4.43.2 for a while now without trouble. We're not power users, but this is news to me that it isn't v4 compatible.

[2019-04-29 12:59] Wolvan commented on #66
Any progress on releasing v4?

[2019-05-02 18:38] blanchma commented on #3
I can't find a revisions table built neither.

[2019-05-02 18:40] blanchma opened #75 "relation "revisions" does not exist"
I'm getting relation "revisions" does not exist with version 2.6.1
[code]

[2019-05-02 19:39] blanchma opened #76 "How to capture add and remove associations?"
I have a user model with associated models. The user.addModel is not triggering an insert in Revision.

[2019-05-03 10:10] nielsgl commented on #66
@jdgarvey @rjw209 @Wolvan
Can you try it with `3.0.0-rc.7`, that should work with Sequelize v4.

[2019-05-03 10:17] nielsgl commented on #75
Can you try it with version `3.0.0-rc.6` if you're using Sequelize v4 or `3.0.0-rc.7` when using Sequelize v5?

[2019-05-03 10:19] nielsgl commented on #76
Can you try it with version `3.0.0-rc.6` if you're using Sequelize v4 or `3.0.0-rc.7` when using Sequelize v5?

[2019-05-03 10:20] nielsgl commented on #3
Are you calling `defineModels()`?

[2019-05-03 13:37] nielsgl commented on #66
Correction, should work with Sequelize v5 👍

[2019-05-03 13:53] rjw209 commented on #66
@nielsgl Thanks for the update & clarification! I'm heads-down on another task at the moment, but will prioritize revisiting this as soon as I can carve out some time then will report back with any findings.

[2019-05-03 18:06] Wolvan commented on #66
I'll be giving it a try on monday, thanks a lot though!

[2019-05-06 06:32] Wolvan commented on #66
Alright, so tried it out: Two things I noticed immediately:

You must have left a test variable or something in the exports in /dist/helpers.js:112:3 (see [here](https://github.com/nielsgl/sequelize-paper-trail/blob/master/lib/helpers.js#L106) I think). Trying to run that errors out with `ReferenceError: test is not defined`

I also noticed that rc.7 depends on sequelize 4.x and installs that as a

[2019-05-06 10:49] nielsgl commented on #66
Ok fixed this 👍

Moved the dependency to dev dependencies so that should fix this.

I'll try tonight to quickly test it to get it working.

[2019-05-06 11:39] nielsgl commented on #66
@Wolvan I think it's fixed now, at least the tests are passing with Sequelize v5. Released as `3.0.0-rc.8`

[2019-05-07 14:04] Wolvan commented on #66
Alright, mdl.hasPaperTrail is now defined and successfully defines a Revision prop on the models. Haven't looked deeper into it yet, but it looks promising enough!

[2019-05-31 11:43] EdByrnee commented on #10
Did anyone get a working fix for this issue?

[2019-05-31 11:50] EdByrnee commented on #10
This is caused by

I got this bug on Ubuntu, I think this is when using mysql less than 8 you cannot have a NOT NULL default value on a json column

[2019-05-31 13:53] nielsgl commented on #10
@EdByrnee which version of sequelize-paper-trail are you using? If not the latest, can you try it with `sequelize-paper-trail@3.0.0-rc.8` ?

[2019-07-03 05:51] blankstar85 opened #78 "sequelize-typescript support"
Any suggestions for getting this to work with sequelize-typescript?

[2019-07-11 22:01] g00ds0n opened #79 "Support for JSONB"
I don't see any of my JSONB columns being stored in the revisions. Am I doing something wrong or does paper trail not support JSONB for Postgres?

[2019-07-12 12:13] thantez commented on #66
Hi.
I had this problem with sequelize  v5.9.4 and sequelize-paper-trail v2.6.1 then I tried use rc version of sequelize-paper-trail for my project and error `hasPaperTrail is not a function` resolved! but new problems raised.
this is my first init options:
`
const paperTrail = PaperTrail.init(sequelize, {
  debug: true,
  userModel: 'user',
  exclude: [
    'createdAt',
    'updatedAt'
  ],
  enab

[2019-07-22 16:40] jdgarvey commented on #79
I am running into this as well, I am guessing that paper trail does not support JSON or JSONB?

[2019-08-01 15:22] davidrac opened #80 "Revisions and RevisionHistory tables are not created"
I'm trying to work with paper trail version 3.0.0-rc.8. I followed the example code, but `Revisions` and `RevisionHistory` tables are not created. I'm working with sequelize version 5.10.

[2019-08-16 09:54] nielsgl commented on #79
AFAIK it doesn't support it but I'm happy to merge a pull request for this.

[2019-08-18 16:20] nielsgl commented on #79
@g00ds0n @jdgarvey JSONB should be supported with the latest version `3.0.0-rc.11`. Let me know whether it does or does not work :)

[2019-08-19 10:25] nielsgl commented on #80
Odd, it should work, can you have a look at the tests to see what's different there from your code?

[2019-08-19 20:04] createthis opened #82 "Revisions table breaks with Sequelize 5."
This appears to be related to https://github.com/sequelize/sequelize/issues/10717

If the `revisionModel` is `Revisions`, sequelize 5 has a bug and lowercases the table name as `revisions` in queries. This breaks `sequelize-paper-trail`.

I've found two potential solutions both added on https://github.com/nielsgl/sequelize-paper-trail/blob/a0f0b6aa4fdfdf1cd6d93f43ca49850dec566a44/lib/index.js#L637

[2019-08-20 15:09] createthis commented on #82
@nielsgl ^

[2019-09-23 20:55] g00ds0n commented on #79
Nope I still don't see my JSONB objects inside of `document`. If you tell me where to start I can try and make a PR for you to look at.

[2019-09-26 05:11] g00ds0n commented on #79
@nielsgl As far as I can tell this is omitting JSONB columns because they are objects. I'm not exactly sure how to fix this.

https://github.com/nielsgl/sequelize-paper-trail/blob/283b8b7ba003147646978b99516d5a53615ede14/lib/index.js#L361-L367

[2019-09-26 06:25] g00ds0n commented on #79
I don't fully understand what that omitBy statement does, but I think using rawAttributes might fix this:

[code]

[2019-09-26 07:08] g00ds0n commented on #79
Check PR #85.

[2019-09-26 13:01] narenedpuganti opened #86 "update not creating records in revision table"
is this common or

[2019-10-08 08:21] mrstebo opened #87 "Syntax error on MySQL for the JSONB data type"
When performing a migration I get the following error, which seems to be due to the JSONB data type not being supported by MySQL (8.0.15)

[code]

[2019-10-08 08:24] mrstebo commented on #87
Ah, I missed the `mysql` option, sorry! 🙈

[2019-10-08 08:24] #87 closed

[2019-10-11 12:17] mrstebo opened #89 "User Tracking does not populate associated column"
I have enabled user tracking by following the instructions on the readme. However, when we read `Revision.build` it does not populate the associated column.

So if I pass the `userId` to the sequelize options when adding or updating a model I get the following SQL:

[code]

[2019-11-21 01:09] ksfreitas opened #91 "JSON field does not work anymore in MySQL 5.7+"
JSON field was changed to JSONB (I think its a Postgres specific field). In past versions of paper-trail, the JSON field it worked fine with MySQL 5.7+ versions.

I'm working in a patch to keep paper trail working both with Pg/MySQL native JSON fields.

[2019-11-26 15:48] EdByrnee commented on #91
Hi, when is this likely to be resolved?

[2019-11-26 15:55] EdByrnee commented on #87
Hi, I'm having the same issue!
Where is this option?

[2019-11-26 17:07] ksfreitas commented on #91
No, you can configure using the option `documentFieldType` as `legacy`. Look my fork: https://github.com/ksfreitas/sequelize-paper-trail

[2019-11-26 17:10] ksfreitas commented on #91
Currently you can work with any MySQL using the undocumented param `mysql` as `true`.

[2019-11-28 09:12] mrstebo commented on #87
@EdByrnee it is [here](https://github.com/nielsgl/sequelize-paper-trail/blob/master/lib/index.js#L47).

Although that option doesn't appear to be documented.

[2019-12-05 11:14] ArtStepanyuk opened #93 ""Revision.documentId cannot be null","
Having this issue with the sequelize 5.21.2 and latest stable  "sequelize-paper-trail": "^3.0.1",

tried few rc-6 and rc-8 versions with no luck

[2020-01-15 16:12] HunterJS-bit opened #95 "Usage with TypeORM"
Can this package be used with TypeORM Im already using it with sequelize
Is there any way it will work with TypeORM

[2020-01-21 01:54] getheard opened #96 "`model` and `document` is `null` on revision record"
The versions I'm using:
[code]

For some reason, when a new `Revision` record is created, it is missing these columns:
[code]

I had to manually create the revision tables via a migration because the module was not creating it — could that be why?

[2020-01-21 01:55] getheard commented on #96
@nielsgl Pinging you in case you no longer check this 😅

[2020-02-06 14:29] danieldilly commented on #80
I'm having the same issue.  I'm using sequelize-paper-trail v3.0.1 and sequelize v5.21.3.

I have set enableMigrations to true and this works to add the "revision" column to my "Customers" table but it does not create the Revisions table.  I receive the error "Table 'project.revisions' doesn't exist.  I can verify that there is no 'revisions' or 'Revisions' table being created.

Is there a step I'

[2020-02-06 14:43] danieldilly commented on #80
I manually created the revisions table and changed the type of document from JSONB to TEXT as I'm using MySQL.  It appears to be working now.  I think this should be handled automatically.  I had to view the source code to get the structure of the table to manually create it.  That surely isn't how this is supposed to work, is it?

[2020-02-12 08:41] ronyv89 opened #97 "Doesn't track with MySQL"
I am trying to integrate this with my Express app which uses MySQL as the database. I can't seem to make it work even though I followed every single step.

[2020-02-13 13:03] #97 closed

[2020-02-18 19:57] danieldilly opened #98 "Documentation for enabling User Tracking"
Hello.  I am trying to implement sequelize-paper-trail into my application but I don't understand how to enable user tracking.  I don't understand the 2nd step in your documentation.  Can you help?

I have a Users table and a User model.  Users have an id column.

I've completed the first step, which is to set userModel: 'User' in the init options.  I do not understand what I'm supposed to do next

[2020-02-18 22:12] ekeuus commented on #98
Model is your edited database model. The userid you provide in the second parameter(which is the options) will be ised in the paper trail entry.

[2020-02-19 13:44] danieldilly commented on #98
I still don't understand.  I have several models like Customer, User, Project, etc that I have enabled paper trails for.  I used the .sync command to create the Revision and RevisionChange tables.  My entire sequelize-paper-trail code is as follows:

`  if (process.env.PAPER_TRAIL === 'true') {

    // Initiate paper trail

    const ptOptions = {

      enableMigration: true,

      enableRevisio

[2020-02-21 07:20] ekeuus commented on #98
It will be updated if:
A. You update your item and provide the current user ID (I am assuming you have your user in the request)
`await models.File.create({ name: 'a', size: 1000, ...more stuff }, { userId: req.user.id });`
B. Use CLS and set it up so that the library takes the ID from context instead of providing it every time.

[2020-02-21 13:17] danieldilly commented on #98
Okay, I think I understand.  Since I'm using Finale-REST (an updated version of Epilogue) to create my REST endpoints automatically, I don't ever explicitly call the create() method of my models.  I suspect I will need to hook into the milestones that Finale provides and pass the userId in there.  I will experiment with this sometime soon and see if I can figure it out.  Thanks for your help thus

[2020-03-15 17:52] danieldilly commented on #98
Thanks for your hekp ekeuus.  I had to fork & update the **Finale-REST** library to enable the passing of the `options` object to the **Sequelize** methods and then hook into the milestones to add the `userId` to the `options` object and it works now.

[2020-03-15 17:52] #98 closed

[2020-03-21 11:40] vptill commented on #89
I am having the same issue, after looking into the source code, I found out that defineModels is missing the userModelAttribute definition. After adding

`
if (options.userModel) {
        attributes[options.userModelAttribute] = {
          type: _sequelize.default.INTEGER,
          allowNull: false,
        };
}
`

it adds the userId fine. I had to manually create the revision tables though, si

[2020-03-29 07:59] madhavsund commented on #93
Same issue. any solutions

[2020-04-02 21:02] jlw0 opened #101 "Allow the noPaperTrail option to be set via continuation-local-storage"
### User Story
As a paper trail consumer, I would like to use continuation-local-storage to set the noPaperTrail option, so that I don't need to include this option for each model/action when an endpoint is executed by a no-audit system user.

### Acceptance Criteria

1. Verify that a continuation-local-storage attribute may be set to indicate the noPaperTrail option is enabled.

1. Verify that th

[2020-05-28 19:43] n8stowell82 commented on #80
I ran into the exact same issue.  from what I can tell the problem is that the models are created in code and if you don't do a `sequelize.sync()` then those tables will never be created.  I think the author intends that `sync` is being run at some point.  As a work around, I created a couple of migration scripts that will create the tables based on what would have been made if `sync` were run.

j

[2020-06-11 04:38] cainbyrne-uleska opened #103 "Some security findings"
Hi Team,

Don’t you just hate it when someone includes your open source project, only to run some scanning tools and come back with issues?  Yea we do too.

So we’ve been running lots of security scans on open source projects, including yours, through some automation we built.  Don’t worry, it took less than a few minutes to run the scans and auto-generate the report.

Wasn’t sure how to send it t

[2020-06-24 00:37] danieldilly commented on #80
What I ended up doing was checking if the tables exist, and if they do not, then syncing only those 2 tables:

[code]

[2020-08-31 12:28] kleyu commented on #93
I had `NO_AUTO_VALUE_ON_ZERO` sql_mode set on my DB. After removing that, no more errors

[2020-12-10 10:32] HunterJS-bit commented on #86
Having the same problem :/

[2020-12-15 22:33] HunterJS-bit commented on #86
It seem like the problem was that I was updating JSON columns, and that is not working its explained here: #/79
So I used Sequelize hooks to solve this: https://sequelize.org/master/manual/hooks.html

[2020-12-28 21:55] gabriel-yuca commented on #80
Thank you so much @n8stowell82, I got stuck with same issue, also there is no instruction on docs. Can I put something like this in the doc or there is a better way I didn't spotted?

[2021-01-28 15:47] nnmer opened #108 "Exclude attributes per entity"
Is there a way to exclude attributes per entity? From what I see in the current 3.0.1 version - no, but maybe overlooked... ?!

[2021-03-11 20:25] roman-jaduda opened #109 "Is this project still ongoing?"
Hi. I have some feature request and I would like to participate. Are you still maintaining the project? Otherwise I would clone and kickoff this project in a separat repository. Would love to get your feedback.

[2021-04-28 14:15] pkkulhari commented on #80
Thanks @n8stowell82 , It created table `Revisions` when I invoked `sequelize.sync()`

[2021-05-03 01:05] imjordanxd commented on #10
still an issue

[2021-06-03 01:24] blankstar85 commented on #78
I ended up rewriting it in typescript simplifying and improving it.  https://www.npmjs.com/package/sequelize-central-log

[2021-06-03 01:30] blankstar85 commented on #109
I'm not sure that it is.. I've been waiting for quite a while.. I finally just rewrote the entire thing in typescript and simplified and updated a lot of items. it supports composite keys.

[2021-06-03 11:33] nielsgl commented on #109
@blankstar85 I'd be happy to merge any PRs and also open to discuss any road maps or or major improvements.

[2021-06-03 21:48] blankstar85 commented on #109
@nielsgl Hello Niel, thank you for replying, its been so long without activity. There are some great prs open currently. I had this issue pop up: "Revision.documentId cannot be null", and didn't have the time back then to look at it. I see there is a work around to fix using a setting in the mysql.dB but i'd prefer to not set it.

Thanks for popping back in, I'll partially pull my comment. thanks!

[2021-06-04 21:40] createthis opened #115 "feature request: bulkCreate hook"
feature request: bulkCreate hook

Currently, using Sequelize bulkCreate does not leave a paper trail. It should.

[2021-06-04 21:42] createthis opened #116 "feature request: beforeBulkUpdate and afterBulkUpdate hooks"
feature request: beforeBulkUpdate and afterBulkUpdate hooks

Currently, using Sequelize's `Model.update()` does not leave a paper trail. It should. (using `instance.update()` works fine today and that should stay the same)

[2021-06-11 06:36] siax84 commented on #109
@nielsgl thank you very much for this project. As a long-term rails developer and paper-trail user I really appreciate the little effort it needs to get started with your package. I am just saying hi to encourage you to keep this project active.

[2021-07-10 15:35] erikpols commented on #91
would be nice to document the mysql parameter.

[2021-07-10 16:42] erikpols commented on #10
same, still an issue.

[2021-08-28 20:57] JosielFaleiros commented on #95
If not, are there any alternatives?

[2021-09-18 08:13] hadimojak commented on #87
thank you very much

[2021-09-23 07:59] VasukiShayanaa commented on #66
try with ` UUID: true,`

[2022-06-09 06:21] yujiosaka commented on #79
fixed it in my fork
https://github.com/yujiosaka/sequelize-revision/commit/d22cd545cfcbea0889b8f84e311cd2d26d5e3a39

[2022-08-09 15:15] mihajul commented on #61
Support for upsert opperation PR:  https://github.com/nielsgl/sequelize-paper-trail/pull/123